input{
    width:325px;
    height:20px;
    border-radius: 10px;
    margin-left:400px;
    margin-right:450px;
}
img{
    width:150px;
}
button{
    background-color:#5271ff;
    padding:5px;
    width:75px;
    border-radius:5px
}